input {
  all: unset;
}

input:focus,
textarea:focus {
  outline: none;
}

.nav {
  @apply flex h-[50px] w-[100%] items-center justify-between bg-[#0D0D0D];
}

.firstUl {
  @apply ml-8 flex h-full w-[30%] flex-row items-center justify-between;
  @media (max-width: 780px) {
    @apply ml-2 w-auto;
  }
}

.secondUl {
  @apply flex h-full flex-row items-center justify-end;
  @media (max-width: 900px) {
    @apply justify-between;
  }
}

.el {
  @apply relative cursor-pointer text-base font-normal uppercase text-white;
  &:after {
    content: '';
    @apply absolute left-0 -bottom-1 h-0.5 w-0 bg-blue-900 transition-all duration-200;
  }
  &:last-of-type {
    @apply mr-12;
  }
  &:hover::after {
    @apply w-full;
  }
  @media (max-width: 900px) {
    @apply text-sm;
  }
  @media (max-width: 700px) {
    @apply text-xs;
  }
}

.box {
  @apply flex h-full w-[230px] items-center bg-[#202020];
  @media (max-width: 780px) {
    @apply w-[190px];
  }
  @media (max-width: 700px) {
    @apply w-[165px];
  }
}

.input {
  @apply ml-5 outline-none;
  @media (max-width: 780px) {
    @apply ml-2;
  }
}
